<h1>I'm the show page</h1>
<h3>Name: <%= @employee.full_name %></h3>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @employee.dog.name %></h3>
<p> <img src="<%= @employee.img_url %>" /></p>